node_modules/
client/node_modules/
server/node_modules/

client/dist/
client/.angular/
client/.cache/
client/out-tsc/

server/dist/
server/logs/
server/uploads/
server/storage/

coverage/
.nyc_output/

package-lock.json
client/package-lock.json
server/package-lock.json

.env
*.env
